.body {
    width: 65%;
    justify-self: center;
    margin: $top-spacing 0 $top-spacing/2 0;

    border-radius: 5px;

    .clickable {
        cursor: pointer;
    }

    .unclickable {
        cursor: not-allowed;
        pointer-events: none !important;
        opacity: 0.6
    }

    .date-tag {
        font-size: $task-small-size;
        // margin-right: 1px;
        margin-top: 2px;
        margin-right: $task-small-size;

        display: flex;
    }

    .calendar-icon {
        height: $task-small-size*1.2;
        width: $task-small-size*1.2;
        margin-right: $small-icon-spacing;
    }

    .overdue {
        fill: $overdue-color;
        color: $overdue-color;
    }

    .today {
        fill: $today-color;
        color: $today-color;
    }

    .future {
        fill: $future-color;
        color: $future-color;
    }

    .label {
        display: flex;
        align-items: center;
        font-size: $task-small-size;
        margin-right: $task-small-size;
        margin-top: 2px;

    }

    .tag-icon {
        height: $task-small-size*1.2;
        width: $task-small-size*1.2;
        margin-right: $small-icon-spacing;
    }

    .project-display-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: $task-small-size;

        p {
            font-size: $task-small-size;
            color: $body-light-text;
            margin-left: 5px;
        }

    }

    .project-icon {
        display: flex;
        align-items: center;
        height: $task-small-size;
        width: $task-small-size;

        // stupid hack to get the icon to align with the text
        position: relative;
        top: -1px;

    }

    .project-dot {
        @include dot(8px, gray);
    }

    .project-inbox-icon {
        fill: rgb(61, 127, 227);
    }


    .header {
        height: 13%;
        min-height: 70px;
        // padding: 10px;

        // border-style: solid;

        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 3fr;
        justify-items: end;

        position: relative;

        p {
            margin: 0px 3px;
            font-size: $body-light-text-size;
            color: $body-light-text
        }

        h2 {
            margin: 0px;
            font-size: $body-light-text-size *1.6
        }


        .top-left-box {
            justify-self: start;
            grid-column: 1/2;

            display: flex;
            align-items: flex-end;
        }

        .top-right-box {
            @include flex-center;
            @include hover-accent;
            justify-content: flex-end;

            justify-self: end;
            grid-column: 2/3;

            // height: 40px;
            user-select: none;
            cursor: pointer;

            .settings-panel-icon {
                color: $body-light-text;
                transform: rotate(90deg);
                height: $body-light-text-size *1.4;
            }

        }

        .bottom-box {
            @include flex-center;
            @include hover-accent;
            justify-self: flex-end;
            align-self: flex-end;

            justify-self: end;
            grid-column: span 2;

            // user-select: none;
            margin-bottom: 10px;


            .task-sort-arrow {
                color: $body-light-text;
                height: $body-light-text-size *1.4;
                margin-right: 3px;
            }

            .sort-display {
                font-size: $body-light-text-size *0.9;
                color: $body-light-text;
                margin-left: 5px;
            }

        }

    }


    .horizontal-line {
        height: 1px;
        // width: 95%;
        background-color: $light-line;
    }

    .task-lists-container {
        margin-top: 35px;
    }

    .task-list-header {
        display: flex;
        font-size: $task-base-size*1.2;

        h3 {
            margin: 0px;
            margin-bottom: 2px;
            font-size: $task-base-size;
            letter-spacing: 0.8px;
        }
    }

    .task-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: no-wrap;
        position: relative;

        margin-bottom: 8px;

        p {
            margin: 0px;
            font-size: $task-small-size;
            color: $body-light-text;
        }


        .task-left-section {
            display: grid;
            grid-template-columns: 32px 1fr;
            grid-template-rows: 23px; // Check
            grid-auto-rows: 1fr;
            grid-auto-flow: row;
            justify-items: start;
            align-items: center;

            margin-top: 2px;

            h5 {
                font-weight: normal;
                margin: 0px;
                font-size: $task-base-size;
                line-height: 21px;
                font-weight: 400;
                color: $body-base-text;
            }

            .grid-flowing-item {
                grid-column: 2/3;
                display: flex;
            }

            .labels-container {
                display: flex;
            }

            .checkmark-container {
                position: absolute;
                top: 3px;
                left: 5px;
                opacity: 1;
                height: 19px;
                width: 19px;
                padding: 2px;

                opacity: 0;

                cursor: pointer;

                &:hover {
                    transition: 0.3s ease;
                    opacity: 1;
                }

                &:active {
                    transition: 0.5s ease;
                    transform: translateY(10px);
                    opacity: 1;
                }

            }

        }

        .priority-icon {
            height: $task-priority-icon-size;
            width: $task-priority-icon-size;

            fill-opacity: 0.5;
            stroke-width: 1px;
        }

        .priority-1 {
            fill: $priority-1-color;
            stroke: $priority-1-color;
        }

        .priority-2 {
            fill: $priority-2-color;
            stroke: $priority-2-color;
        }

        .priority-3 {
            fill: $priority-3-color;
            stroke: $priority-3-color;
        }

        .priority-4 {
            fill: white;
            stroke: $priority-4-color;
        }

        .inbox-display {
            display: flex;
            align-items: end;

            p {
                margin-right: $small-icon-spacing;
            }

        }


    }

    .add-task-container {
        margin-top: 4px;
        margin-bottom: 30px;

        .add-task-button {
            display: flex;
            align-items: center;

            height: 40px;

            cursor: pointer;
            // this calculation broke my brain
            margin-left: ($task-priority-icon-size*0.25);

            p {
                margin: 10px;
                font-size: $task-base-size;
                color: $body-light-text;
            }

            .plus-button {
                // fill is manually in js 
                height: $task-base-size*1.2;
                width: $task-base-size*1.2;
                fill: $body-light-text;
                stroke: $body-light-text;
                stroke-width: 1px;

                position: relative;
                top: 2px;

            }
        }

        .add-task-panel {
            border: 1px solid;
            border-color: $light-border;
            border-radius: 10px;

            padding: 10px;

            display: flex;
            flex-direction: column;
            align-items: flex-start;

            %form-component {
                color: $body-light-text;
                border: hidden;
                width: 100%;

                &:focus {
                    outline: none;
                }
            }

            .new-task-title {
                @extend %form-component;
                font-weight: 400;

                margin: 0px;
                margin-bottom: 10px;

                font-size: $task-base-size *1.1; // SEMI BOLD 

            }

            .new-task-description {
                @extend %form-component;
                font-size: $task-small-size*1.1;
                margin: 0px;
                margin-bottom: 4%;

            }

            .info-buttons-container {
                display: flex;
                flex-direction: row;
            }

            .info-button-container {
                display: flex;
                align-items: center;
                justify-content: center;

                padding: 2px 5px 2px 5px;
                margin-right: 5px;

                border: 1px solid;
                border-color: $light-border;
                border-radius: 5px;

                .calendar-icon {
                    position: relative;
                    top: 2px;
                }

            }

        }

        .confirm-add-task-container {
            display: flex;
            justify-content: flex-end;

            margin-top: 0.6rem;

            %button {
                height: 35px;
                width: 80px;

                border-radius: 8px;

                display: flex;
                align-items: center;
                justify-content: center;

                font-weight: bold;
                font-size: $task-base-size;

                user-select: none;

                margin-left: 10px;

                transition: 0.3s ease;

                &:hover {
                    filter: brightness(0.9)
                }
            }

            .add-button {
                @extend %button;
                background-color: #d63d37;
                color: rgb(240, 240, 240);
            }

            .cancel-button {
                @extend %button;
                background-color: #cacaca;
                color: rgb(87, 90, 94);

                cursor: pointer;
            }
        }
    }
}