$primary-background: #ffffff;
$secondary-background: #f5f5f58a;
$primary-font-color: #202020c7;

$selected-cell: rgba(235, 235, 235, 0.664);
$icon-size: 10px;

$body-base-text: rgba(0, 0, 0, 0.7);
$body-light-text: rgba(0, 0, 0, 0.5);
$body-light-text-size: 14px;
$focused-text: rgba(0, 0, 0, 0.6);
$light-line: rgba(0, 0, 0, 0.06);
$light-border: rgba(0, 0, 0, 0.1);

$task-base-size: 14px;
$task-small-size: $task-base-size*0.85;
$task-priority-icon-size: $task-base-size*2.1;
$small-icon-spacing: 5px;
$top-spacing: 4rem;

$priority-1-color: rgb(252, 85, 85);
$priority-2-color: rgb(248, 173, 61);
$priority-3-color: rgb(74, 170, 214);
$priority-4-color: rgb(190, 190, 190);

$overdue-color: #D1453B;
$today-color: rgb(47, 165, 57);
$future-color: rgb(74, 170, 214);

@mixin flex-center {
    display: flex;
    align-content: center;
    align-items: center;
}

@mixin grid-spaced-diometric {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    align-items: center;
}

@mixin dot ($size: 20px, $color: #bbb) {
    height: $size;
    width: $size;
    background-color: $color;
    border-radius: 50%;
    display: inline-block;
}

@mixin hover-accent {
    padding: 0.2em;
    border-radius: 0.3em;

    &:hover {
        background-color: $selected-cell;

        * {
            color: $focused-text;
        }

    }

}