*,
*::before,
*::after {
    box-sizing: border-box;
}

@import "./variables";
@import "./fonts";

@import "./body/body";
@import "./sidebar/sidebar";


p {
    margin: 2px 0px;
}

h3 {
    margin: 5px 3px
}

h2 {
    margin: 5px 3px
}

.App {
    text-align: center;
    background-color: $primary-background;
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;

    font-family: Segoe;
}