*,
*::before,
*::after {
    box-sizing: border-box;
}

@import "./variables";
@import "./fonts";


p {
    margin: 2px 0px;
}

.App {
    text-align: center;
    background-color: #78b6d3;
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.body {
    background-color: $primary-background;
}

.sidebar {
    background-color: $secondary-background;
    min-width: 180px;
    max-width: 300px;

    padding-top: 15px;
    padding-left: 20px;
    padding-right: 5px;

    %cell-container {
        @include grid-spaced-diometric;
        height: 30px;
        padding: 0px 15px 0px 10px;
        border-radius: 8px;
        text-align: left;
        font-family: Exo;
        // grid-gap: 0;

        &:hover {
            // text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.11);
            background-color: $hover-sidebar-cell;
        }

    }

    %general-title-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 10px;

    }

    .inboxes {

        .inbox {
            @extend %cell-container;
            // background-color: rgb(151, 217, 255);

            p {
                font-size: 12px;
                padding-left: 10px;

            }

        }

        .title-container {
            @extend %general-title-container;
        }

    }

    .projects {
        .project {
            @extend %cell-container;
            // background-color: rgb(189, 242, 255);

            p {
                font-size: 12px;
                padding-left: 10px;
            }

        }

        .title-container {
            @extend %general-title-container;
        }

        .dot {
            @include dot ($size: 8px);
        }

    }

}